/*@since 2017-05-11 by webinglin*/


.btn-group{
    margin-bottom: 10px;
}


.btn {
    height: 26px;
    line-height: 26px;
    padding: 0 8 ;
}


.role-table {
    width:500px;
    float:left;
}

.role-funcs {
    width:600px;
    float:left;
    margin-left:50px;
    overflow-y: auto;
}

.role-funcs-legend{
    width:100%;
    height: 600px;
    overflow-y: auto;
}

.ui-margin-8{
    margin-top:8px;
}

.role-funcs-btn{
    border-top: solid #C5C5C5 1px;
    padding-top: 10px;
    margin-top:20px;
}

.float-right{
    float: right;
}