

.settings {
    height: 70px;
    line-height: 70px;
    width: 200px;
    font-size: 22px;
    text-align: center;
    text-shadow: 4px 4px 4px #003eff;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu {
    background: #F7F7F7;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    z-index: 1111;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 200px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
}

.main-menu > ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 200px;
}

.main-menu li > a {
    position: relative;
    display: table-cell;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #F0F0F0;
    box-shadow: inset 0 1px 1px #FAFAFA;
    transition: all .14s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .14s linear;
    width: 200px;
    height: 36px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none;
    color: #959595;
    padding-left:20px;
    font-family: 'Titillium Web', sans-serif;
}


.main-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;

}

a:hover, a:focus {
    text-decoration: none;
    border-left: 0 solid #F7F7F7;
    cursor: pointer;
}

.main-menu li:hover > a, nav.main-menu li.active > a{
    color: #fff;
    background-color: #007FFF;
    /*text-shadow: 0 0 0;*/
}


/* 正文部分 */
.content {
    margin-left: 200px;
    height: 100%;
    /*background-color: #8193bb;*/
    overflow-y: auto;
}
