


.btn-group{
    margin-bottom: 10px;
}


.btn {
    height: 26px;
    line-height: 26px;
    padding: 0 8 ;
}

.dept-tree {
    width: 250px;
    float: left;
}


.user-table {
    width:900px;
    float: left;
}


.form-line-role{
    height: 100px;
    display: inline-block;
    margin-top: 25px;
}
.form-line-role>label{
    display:inline-block;
    width:110px;
}